.MenuForm h1{
    color: #e3722e;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
   }
   
   .MenuForm .row{
     display: flex;
     flex-direction: row;
     margin-bottom:1rem;
   }
   
   .MenuForm label {
     font-size: 1.1rem;
     width: 2rem;
   }
   