.Team {}

.team-body{
    padding: 1rem 12% 1rem 12%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-card{
    margin-top: 3rem;
    width:30%;
    height:30rem;
    box-shadow: 0 2px 15px rgba(1, 1, 1, 0.15);
    position:relative;
    background: whitesmoke;
}

.team-photo{
    width:100%;
    height:65%;
}


.team-photo img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: all 0.5s ease-in-out;
}

.team-name{
    padding: 1rem 1rem 0.5rem 1rem;
    font-weight: bolder;
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.team-shortdescription{
    padding: 1rem;
    display: -webkit-box;
     max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.team-role{
    padding-left: 1rem;
    color: #e3722e;
}

.team-plus-button{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #e3722e;
    color:white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
}

.team-social{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display:none;
}

.team-social a{
    display: inline-block;
    margin-right:0.05rem;
    background-color:#9c9a9887;
    width:2rem;
    height:2rem;
    text-align: center;
    line-height:2rem;
    color:white;
}

.team-photo:hover .team-social{
    display:block;
}

.team-photo img:hover{
    transition: all 0.5s ease-in-out;
    filter:contrast(50%);
}


@media only screen and (max-width: 768px) {
    .team-card{
        width: 100% !important;
    }

    .team-body{
        padding: 0 5% 0.5rem 5%;

    }
    .team-card{
        margin-top: 2rem !important;
    }

    .team-social{
        display: block !important;
    }
}