.SideBar {
    background-color:#ece3dd; /*rgb(36, 33, 33)*/;
    box-sizing: border-box;
   
    position:fixed;
    top: 0;
    left: 0;
    height:100%;
    z-index: 1000;
    overflow:scroll;
}

.SideBar h1{
    width:100%;
    text-align: center;
    border-bottom: solid white 2px;
    padding-bottom: 0.3rem;
    margin: auto;
    color: #e3722e;
    font-weight: bolder;
    font-size: 1.8rem;
    height:50px;
    line-height:50px;
    box-sizing: border-box;
}

@media only screen and (min-width: 769px) {
    .SideBar{
        width:20%;
    }
}

.SideBar li{
    padding:1rem;
    font-size: 1rem;
    list-style:none;
    cursor: pointer;
    color:#e3722e;
    transition: all 0.5s ease-in-out;
}

.SideBar>ul>li{
    border-bottom: solid whitesmoke 1px;
}

.SideBar li:hover{
 background-color: white;
 transition: all 0.2s ease-in-out;
}

.SideBar>ul>li>ul>li:hover{
    background-color:#efd3c1;
    border-radius: 0.2rem;
}

.SideBar li.active{
    background-color:white !important;
}