* {
  box-sizing: border-box;
}

form .row{
  
}

form .row.title{
  padding-top:0 !important;
  font-size: 1rem !important;
}
.description-wrapper {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.description-image-wrapper{
  position: relative;
}

.description-image-wrapper img{
    width: 100%;
    object-fit: cover;
    
}

.ContentForm .paragraph-row {
  display: flex;
  flex-direction: row;
}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit]:hover {
  background-color: #e3722e;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-79 {
  width: 79%;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.button {
  background-color:#e3722e;
  color: white;
  padding: 0.2rem 0.5rem 0.2rem 0.5erm;
}