.SectionArea {
    box-sizing: border-box;
    padding: 0.5em;
    background-color: white;
    margin-bottom: 1rem;
}

.SectionArea .left-image img, .SectionArea .right-image img{
    width:100%;
}

.SectionArea .left-image{
    float: left;
}

.SectionArea .row{
    width: 100%;
    margin-bottom : 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-add-button-item {
    background-color: #e3722e !important;
    color: white !important;
}

.order-wrapper{
    position: relative;
}

.order-box{
    display: flex;
    flex-direction: row;
    position:absolute;
    right: 0;
    top: 0;
}

.order-box-input {
    width:4rem !important;
    height: 2rem !important;
    background-color:  #e3722e !important;
    color: white !important;
    border : 0 !important;
}


.order-label {
   line-height: 2rem;
   height: 2rem;
   background-color:  #e3722e !important;
   color: white !important;
   padding-left: 0.5rem;
   box-sizing: border-box !important;
   font-weight: bold !important;
   margin-right: -0.2rem;
   border-top-left-radius: 2rem!important;
   border-bottom-left-radius: 2rem!important;
}
