.Header{
    
}

.Header-top {
    background-color: #e3722e;
    box-sizing: border-box;
    color: white;
    display:flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
}

.dashboard-horizontal-header{
    width:80% !important;
    margin-left:20%;
    box-sizing: border-box !important;
    overflow: hidden !important;
}
#logo-nav-wrapper {
    position:fixed;
    width: 100%;
    box-shadow: 1px 2px 2px rgb(180, 177, 177);
    box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 5;
    background-color:white;
    transition: all 0.2s;
}

.dashboard-horizontal-header #logo-nav-wrapper {
    width: 80% !important;
}


.logo-nav-wrapper-top{
    top:0 !important;
    transition: all 0.2s;
 }

@media only screen and (min-width: 769px) {
    #logo-nav-wrapper {
        top: 50px;
        height:130px;
    }
    .logo-nav-wrapper-top{
        height:100px !important;
    }

    .Header-top{
        height:50px;
        padding: 10px 12%;
        flex-direction: row;
    }
}

@media only screen and (max-width: 969px) {
    #logo-nav-wrapper {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
}

@media only screen and (max-width: 768px) {
    #logo-nav-wrapper {
        top: 110px;
        height:50px;
        line-height:50px;
    }
    .Header-top{
        height:110px;
        flex-direction: column;
        padding: 10px;
    }
}