.PasswordForm {
    width: 100%;
   padding-bottom: 3rem;
}

.password-form{
    margin: auto;
    border : dotted #e3722e 1px;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
  }

.PasswordForm-body{
    max-width:40rem;
    margin: auto;
    padding: 1rem;
    margin-top: 2rem;
    background: whitesmoke;
    box-shadow: 0 2px 15px rgba(1, 1, 1, 0.15);
}

.PasswordForm-body form{
    padding: 1rem;
}

.PasswordForm-title{
    font-weight: bolder;
    font-size:1.1rem;
    padding-left: 1rem;
    color: #e3722e;
}
.form-field{
    display: flex;
    flex-direction:column;
    margin-top: 1rem;
}

.form-field input{
    height:40px;
}

.form-field input[type="submit"] {
    background-color: #e3722e;
    color: white;
    border-radius: 0.5rem;
}
