html {
  scroll-behavior: smooth;
}
body {
  margin: 0;

    font: 13px/23px "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    color: #777777;
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  background-color: white;
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

a,input, textarea{
  outline: none;
}

.title{
    padding-top:2rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size:1.5rem;
}

.space{
  height:6rem;
  background-color:white;
}

.header-line{
  display: block;
  width: 70px;
  height: 4px;
  background: #e3722e;
  margin: 0 auto;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .space{
    height:2rem !important;
  }

}

.disclaimer {
  display:none !important;
}